
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Bevan:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Squada+One&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-chart: 'poppins';
  --btn-bg-color: #f44d6d;
  --btn-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-chart);
}

*{
  font-family: var(--font-chart);
}

.logo{
  object-fit: cover;
  object-position: center;
}

.nav-items-font{
  font-family: var(--font-chart);
}

.nav-box-shadow{
  box-shadow: -2px -5px 10px 0px #000000 !important;
}

.img-box-shadow{
  box-shadow: -2px -5px 10px 0px #000000 !important;
}


.btn-box-shadow:hover{
  box-shadow: 0px 0px 10px 2px #ff7993 !important;
}

.navbar-nav hr{
  width: 25%;
  height: 2.5px;
}

.invert-color{
  filter: invert(1);
}

.btn-bg-color{
  background-color: var(--btn-bg-color) !important;
}

.btn-rounded{
  border-radius: var(--btn-radius) !important;
}

.img-logo{
  width: 100%;
}

header{
  position: sticky ; 
  top: 0 ;
  z-index: 1000 ;
  background-color: white ;
}

.filter-link{
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.fs-filter{ 
  font-size: 12px;
}

.hover-filter-effect:hover{

  border-bottom: 2px solid #000;
  transition: 5s ease;
}

.filter-container {
  display: flex;
  overflow-x: auto; 
  white-space: nowrap;
  padding: 10px 0; 
  scrollbar-width: thin;
}

.filter-container::-webkit-scrollbar {
  height: 7px; 
}

.filter-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
}

.filter-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); 
}

.filter-container a {
  flex: 0 0 auto; 
  margin-right: 15px; 
}

@media (max-width: 768px) {
  .filter-container {
    padding: 5px 0; /* Ajustement pour les écrans plus petits */
  }
}